{% load static %}
<!-- base js -->
<script src="https://www.nobleui.com/laravel/template/demo1-ds/js/app.js"></script>
<script
    src="https://www.nobleui.com/laravel/template/demo1-ds/assets/plugins/feather-icons/feather.min.js"></script>
<script
    src="https://www.nobleui.com/laravel/template/demo1-ds/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!-- end base js -->

<!-- plugin js -->
<script src="https://www.nobleui.com/laravel/template/demo1-ds/assets/plugins/flatpickr/flatpickr.min.js"></script>
<script
    src="https://www.nobleui.com/laravel/template/demo1-ds/assets/plugins/apexcharts/apexcharts.min.js"></script>
<!-- end plugin js -->

<!-- common js -->
<script src="https://www.nobleui.com/laravel/template/demo1-ds/assets/js/template.js"></script>
<!-- end common js -->

<script src="https://www.nobleui.com/laravel/template/demo1-ds/assets/js/dashboard.js"></script>