{% if user.is_authenticated %}
<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
    <a class="navbar-brand me-lg-5" href="#">
        <p class="text-secondary">DeliveryApp</p>
    </a>
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
        <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
                <div class="avatar-lg me-4">
                    {% if not user.user_profile.avatar %}                        
                        <img src="media/default_images/person.jpg" class="card-img-top rounded-circle border-white">
                    {% else %}
                        <img src="{{ user.user_profile.avatar.url }}" class="card-img-top rounded-circle border-white">
                    {% endif %}                    
                </div>
                <div class="d-block">
                    <h2 class="h5 mb-3">Hi, {{ request.user.first_name|capfirst  }}</h2>
                    <a href="{% url 'delivery_app:logout' %}" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                        <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>            
                        Keluar
                    </a>
                </div>
            </div>
            <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation">
                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
        <ul class="nav flex-column pt-3 pt-md-0">
            <li class="nav-item">
                <a href="#" class="nav-link d-flex align-items-center">                    
                    <span class="mt-1 ms-1 sidebar-text">DeliveryApp</span>
                </a>
            </li>
            <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
                <a href="{% url 'delivery_app:index' %}" class="nav-link">
                    <span class="sidebar-icon">
                        <span class="fas fa-home mr-2"></span>
                    </span> 
                    <span class="sidebar-text">Beranda</span>
                </a>
            </li>
            <li class="nav-item {% if 'menu_general_datas-' in segment %} active {% endif %}">
                <span
                    class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" data-bs-target="#submenu-menu_general_datas">
                    <span>
                        <span class="sidebar-icon">
                            <span class="fas fa-folder-open mr-2"></span>                            
                        </span> 
                        <span class="sidebar-text">Data Umum</span>
                    </span>
                        <span class="link-arrow">
                        <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    </span>
                </span>
                <div class="multi-level collapse {% if 'menu-general-datas-' in segment %} show {% endif %}" role="list"
                    id="submenu-menu_general_datas" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item {% if 'menu-general-datas-items' in segment %} active {% endif %}">
                            <a class="nav-link" href="{% url 'delivery_app:item_list' %}">
                            <span class="sidebar-text">Item</span>
                            </a>
                        </li>                                                                                                                        
                        {% if perms.user.is_superuser %}                                    
                        <li class="nav-item {% if 'menu_general_datas-status_models' in segment %} active {% endif %}">
                            <a class="nav-link" href="{% url 'delivery_app:status_model_list' %}">
                            <span class="sidebar-text">Status Model</span>
                            </a>
                        </li>                                                
                        {% endif %}                        
                    </ul>
                </div>
            </li>
            <li class="nav-item {% if 'menu_transactions-' in segment %} active {% endif %}">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-menu_transactions">
                    <span>
                        <span class="sidebar-icon">
                            <span class="fas fa-credit-card mr-2"></span>
                        </span> 
                        <span class="sidebar-text">Transaksi</span>
                    </span>
                    <span class="link-arrow">
                        <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    </span>
                </span>
                <div class="multi-level collapse {% if 'menu_transactions-' in segment %} show {% endif %} " role="list"
                    id="submenu-menu_transactions" aria-expanded="false">
                    <ul class="flex-column nav">                        
                        <li class="nav-item {% if 'menu_transactions-transaction-scale-upload' in segment %} active {% endif %}">
                            <a class="nav-link" href="#">
                            <span class="sidebar-text">Delivery Order</span>
                            </a>
                        </li>
                        <li class="nav-item {% if 'menu_transactions-transaction-scale-upload' in segment %} active {% endif %}">
                            <a class="nav-link" href="{% url 'delivery_app:transaction_scale_upload' %}">
                            <span class="sidebar-text">Upload Timbangan</span>
                            </a>
                        </li>                        
                        <li class="nav-item {% if 'menu_transactions-transaction-scale-list' in segment %} active {% endif %}">
                            <a class="nav-link" href="{% url 'delivery_app:transaction_scale_list' %}">
                            <span class="sidebar-text">List Timbangan</span>
                            </a>
                        </li>                        
                    </ul>
                </div>
            </li>
            {% if perms.user.is_superuser %}                                    
            <li class="nav-item {% if 'menu_accounts-' in segment %} active {% endif %}">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-menu_accounts">
                    <span>
                        <span class="sidebar-icon">
                            <span class="fas fa-address-card mr-2"></span>
                        </span> 
                        <span class="sidebar-text">Pengguna</span>
                    </span>
                    <span class="link-arrow">
                        <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    </span>
                </span>
                <div class="multi-level collapse {% if 'menu_accounts-' in segment %} show {% endif %} " role="list"
                    id="submenu-menu_accounts" aria-expanded="false">
                    <ul class="flex-column nav">                        
                        <li class="nav-item {% if 'menu_accounts-deliverys' in segment %} active {% endif %}">
                            <a class="nav-link" href="{% url 'delivery_app:account_admin_list' %}">
                            <span class="sidebar-text">Admin</span>
                            </a>
                        </li>                        
                        <li class="nav-item {% if 'menu_accounts-deliverys' in segment %} active {% endif %}">
                            <a class="nav-link" href="{% url 'delivery_app:account_scale_list' %}">
                            <span class="sidebar-text">Staff Timbangan</span>
                            </a>
                        </li>                        
                    </ul>
                </div>
            </li>
            {% endif %}
            <li class="nav-item {% if 'abouts' in segment %} active {% endif %}">
                <a href="{% url 'delivery_app:about_program' %}" class="nav-link">
                    <span class="sidebar-icon">
                        <span class="fas fa-address-book mr-2"></span>
                    </span> 
                    <span class="sidebar-text">Tentang Program</span>
                </a>
            </li>            
        </ul>
    </div>
</nav>
{% endif %}